/* .tog-ved-stasjon:hover {
  transform: translateX(50%);
} */

/* @keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .tog-ved-stasjon {
    animation: move infinite 20s linear paused;
  }
  .tog-ved-stasjon:hover {
    animation-play-state: running;
  }
} */
